
<!doctype html>
<html>
  <head>
    <title>Documentação API - Klote</title>
    <style type="text/css">
      body {
      	font-family: Trebuchet MS, sans-serif;
      	font-size: 15px;
      	color: #444;
      	margin-right: 24px;
      }
      
      h1	{
      	font-size: 25px;
      }
      h2	{
      	font-size: 20px;
      }
      h3	{
      	font-size: 16px;
      	font-weight: bold;
      }
      hr	{
      	height: 1px;
      	border: 0;
      	color: #ddd;
      	background-color: #ddd;
      }
      
      .app-desc {
        clear: both;
        margin-left: 20px;
      }
      .param-name {
        width: 100%;
      }
      .license-info {
        margin-left: 20px;
      }
      
      .license-url {
        margin-left: 20px;
      }
      
      .model {
        margin: 0 0 0px 20px;
      }
      
      .method {
        margin-left: 20px;
      }
      
      .method-notes	{
      	margin: 10px 0 20px 0;
      	font-size: 90%;
      	color: #555;
      }
      
      pre {
        padding: 10px;
        margin-bottom: 2px;
      }
      
      .http-method {
       text-transform: uppercase;
      }
      
      pre.get {
        background-color: #0f6ab4;
      }
      
      pre.post {
        background-color: #10a54a;
      }
      
      pre.put {
        background-color: #c5862b;
      }
      
      pre.delete {
        background-color: #a41e22;
      }
      
      .huge	{
      	color: #fff;
      }
      
      pre.example {
        background-color: #f3f3f3;
        padding: 10px;
        border: 1px solid #ddd;
      }
      
      code {
        white-space: pre;
      }
      
      .nickname {
        font-weight: bold;
      }
      
      .method-path {
        font-size: 1.5em;
        background-color: #0f6ab4;
      }
      
      .up {
        float:right;
      }
      
      .parameter {
        width: 500px;
      }
      
      .param {
        width: 500px;
        padding: 10px 0 0 20px;
        font-weight: bold;
      }
      
      .param-desc {
        width: 700px;
        padding: 0 0 0 20px;
        color: #777;
      }
      
      .param-type {
        font-style: italic;
      }
      
      .param-enum-header {
      width: 700px;
      padding: 0 0 0 60px;
      color: #777;
      font-weight: bold;
      }
      
      .param-enum {
      width: 700px;
      padding: 0 0 0 80px;
      color: #777;
      font-style: italic;
      }
      
      .field-label {
        padding: 0;
        margin: 0;
        clear: both;
      }
      
      .field-items	{
      	padding: 0 0 15px 0;
      	margin-bottom: 15px;
      }
      
      .return-type {
        clear: both;
        padding-bottom: 10px;
      }
      
      .param-header {
        font-weight: bold;
      }
      
      .method-tags {
        text-align: right;
      }
      
      .method-tag {
        background: none repeat scroll 0% 0% #24A600;
        border-radius: 3px;
        padding: 2px 10px;
        margin: 2px;
        color: #FFF;
        display: inline-block;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
  <h1>Documentação API - Klote</h1>
    <div class="app-desc">No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)</div>
    <div class="app-desc">More information: <a href="https://helloreverb.com">https://helloreverb.com</a></div>
    <div class="app-desc">Contact Info: <a href="hello@helloreverb.com">hello@helloreverb.com</a></div>
    <div class="app-desc">Version: 0.1</div>
    
    <div class="license-info">All rights reserved</div>
    <div class="license-url">http://apache.org/licenses/LICENSE-2.0.html</div>
  <h2>Access</h2>

  <h2><a name="__Methods">Methods</a></h2>
  [ Jump to <a href="#__Models">Models</a> ]

  <h3>Table of Contents </h3>
  <div class="method-summary"></div>
  <h4><a href="#Default">Default</a></h4>
  <ul>
  <li><a href="#addAccess"><code><span class="http-method">post</span> /user/add_allotment_access</code></a></li>
  <li><a href="#authenticate"><code><span class="http-method">post</span> /user/login</code></a></li>
  <li><a href="#delete"><code><span class="http-method">delete</span> /allotment/delete/{id}</code></a></li>
  <li><a href="#deleteHistory"><code><span class="http-method">delete</span> /customer/history/delete/{id}</code></a></li>
  <li><a href="#deletePurchase"><code><span class="http-method">delete</span> /customer/purchase/delete/{id}</code></a></li>
  <li><a href="#delete_1"><code><span class="http-method">delete</span> /customer/delete/{id}</code></a></li>
  <li><a href="#delete_2"><code><span class="http-method">delete</span> /lot/delete/</code></a></li>
  <li><a href="#delete_3"><code><span class="http-method">delete</span> /user/delete/{id}</code></a></li>
  <li><a href="#getAllLots"><code><span class="http-method">get</span> /lot/get_lots</code></a></li>
  <li><a href="#getAllotment"><code><span class="http-method">get</span> /allotment/get_allotment/{allotment_id}</code></a></li>
  <li><a href="#getAllotments"><code><span class="http-method">get</span> /allotment/get_allotments</code></a></li>
  <li><a href="#getAllotmentsUser"><code><span class="http-method">get</span> /user/get_allotments/{user_id}</code></a></li>
  <li><a href="#getCustomer"><code><span class="http-method">get</span> /customer/get_customer/{id}</code></a></li>
  <li><a href="#getCustomerHistory"><code><span class="http-method">get</span> /customer/history/get_customer_history/{id}</code></a></li>
  <li><a href="#getCustomerPurchase"><code><span class="http-method">get</span> /customer/purchase/get_customer_purchase/{id}</code></a></li>
  <li><a href="#getCustomers"><code><span class="http-method">get</span> /customer/get_customers</code></a></li>
  <li><a href="#getCustomersHistory"><code><span class="http-method">get</span> /customer/history/get_customers_history</code></a></li>
  <li><a href="#getCustomersPurchases"><code><span class="http-method">get</span> /customer/purchase/get_customers_purchases</code></a></li>
  <li><a href="#getLot"><code><span class="http-method">post</span> /lot/get_lot</code></a></li>
  <li><a href="#getLotHistory"><code><span class="http-method">get</span> /lot/history/get_lot_history/</code></a></li>
  <li><a href="#getLots"><code><span class="http-method">get</span> /lot/get_lots/{allotment_id}</code></a></li>
  <li><a href="#getUser"><code><span class="http-method">get</span> /user/get_user/{user_id}</code></a></li>
  <li><a href="#getUsers"><code><span class="http-method">get</span> /user/get_users</code></a></li>
  <li><a href="#historyDelete"><code><span class="http-method">delete</span> /lot/history/delete/</code></a></li>
  <li><a href="#historyRegister"><code><span class="http-method">post</span> /lot/history/register</code></a></li>
  <li><a href="#historyUpdate"><code><span class="http-method">put</span> /lot/history/update/{id}</code></a></li>
  <li><a href="#index"><code><span class="http-method">get</span> /</code></a></li>
  <li><a href="#register"><code><span class="http-method">post</span> /allotment/register</code></a></li>
  <li><a href="#registerAdmin"><code><span class="http-method">post</span> /user/register_admin</code></a></li>
  <li><a href="#registerGuest"><code><span class="http-method">post</span> /user/register_guest</code></a></li>
  <li><a href="#registerHistory"><code><span class="http-method">post</span> /customer/history/register</code></a></li>
  <li><a href="#registerPurchase"><code><span class="http-method">post</span> /customer/purchase/register</code></a></li>
  <li><a href="#register_4"><code><span class="http-method">post</span> /customer/register</code></a></li>
  <li><a href="#register_5"><code><span class="http-method">post</span> /lot/register</code></a></li>
  <li><a href="#removeAccess"><code><span class="http-method">delete</span> /user/remove_allotment_access</code></a></li>
  <li><a href="#root"><code><span class="http-method">get</span> /user/</code></a></li>
  <li><a href="#sendEmail"><code><span class="http-method">post</span> /user/send_email</code></a></li>
  <li><a href="#update"><code><span class="http-method">put</span> /allotment/update/{id}</code></a></li>
  <li><a href="#updateHistory"><code><span class="http-method">put</span> /customer/history/update/{id}</code></a></li>
  <li><a href="#updatePassword"><code><span class="http-method">put</span> /user/update_password</code></a></li>
  <li><a href="#update_6"><code><span class="http-method">put</span> /customer/update/{id}</code></a></li>
  <li><a href="#update_7"><code><span class="http-method">put</span> /lot/update/{number}</code></a></li>
  <li><a href="#update_8"><code><span class="http-method">put</span> /user/update/{id}</code></a></li>
  </ul>

  <h1><a name="Default">Default</a></h1>
  <div class="method"><a name="addAccess"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /user/add_allotment_access</code></pre></div>
    <div class="method-summary">add_access <POST> (<span class="nickname">addAccess</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="authenticate"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /user/login</code></pre></div>
    <div class="method-summary">authenticate <POST> (<span class="nickname">authenticate</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="delete"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="delete"><code class="huge"><span class="http-method">delete</span> /allotment/delete/{id}</code></pre></div>
    <div class="method-summary">delete <DELETE> (<span class="nickname">delete</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="deleteHistory"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="delete"><code class="huge"><span class="http-method">delete</span> /customer/history/delete/{id}</code></pre></div>
    <div class="method-summary">delete_history <DELETE> (<span class="nickname">deleteHistory</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  format: int32</div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="deletePurchase"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="delete"><code class="huge"><span class="http-method">delete</span> /customer/purchase/delete/{id}</code></pre></div>
    <div class="method-summary">delete_purchase <DELETE> (<span class="nickname">deletePurchase</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  format: int32</div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="delete_1"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="delete"><code class="huge"><span class="http-method">delete</span> /customer/delete/{id}</code></pre></div>
    <div class="method-summary">delete <DELETE> (<span class="nickname">delete_1</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  format: int32</div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="delete_2"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="delete"><code class="huge"><span class="http-method">delete</span> /lot/delete/</code></pre></div>
    <div class="method-summary">delete <DELETE> (<span class="nickname">delete_2</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="delete_3"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="delete"><code class="huge"><span class="http-method">delete</span> /user/delete/{id}</code></pre></div>
    <div class="method-summary">delete <DELETE> (<span class="nickname">delete_3</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getAllLots"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /lot/get_lots</code></pre></div>
    <div class="method-summary">get_all_lots <GET> (<span class="nickname">getAllLots</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getAllotment"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /allotment/get_allotment/{allotment_id}</code></pre></div>
    <div class="method-summary">get_allotment <GET> (<span class="nickname">getAllotment</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">allotment_id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  format: int32</div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getAllotments"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /allotment/get_allotments</code></pre></div>
    <div class="method-summary">get_allotments <GET> (<span class="nickname">getAllotments</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getAllotmentsUser"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /user/get_allotments/{user_id}</code></pre></div>
    <div class="method-summary">get_allotments_user <GET> (<span class="nickname">getAllotmentsUser</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">user_id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  format: int32</div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getCustomer"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /customer/get_customer/{id}</code></pre></div>
    <div class="method-summary">get_customer <GET> (<span class="nickname">getCustomer</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  format: int32</div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getCustomerHistory"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /customer/history/get_customer_history/{id}</code></pre></div>
    <div class="method-summary">get_customer_history <GET> (<span class="nickname">getCustomerHistory</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  format: int32</div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getCustomerPurchase"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /customer/purchase/get_customer_purchase/{id}</code></pre></div>
    <div class="method-summary">get_customer_purchase <GET> (<span class="nickname">getCustomerPurchase</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  format: int32</div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getCustomers"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /customer/get_customers</code></pre></div>
    <div class="method-summary">get_customers <GET> (<span class="nickname">getCustomers</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getCustomersHistory"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /customer/history/get_customers_history</code></pre></div>
    <div class="method-summary">get_customers_history <GET> (<span class="nickname">getCustomersHistory</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getCustomersPurchases"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /customer/purchase/get_customers_purchases</code></pre></div>
    <div class="method-summary">get_customers_purchases <GET> (<span class="nickname">getCustomersPurchases</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getLot"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /lot/get_lot</code></pre></div>
    <div class="method-summary">get_lot <POST> (<span class="nickname">getLot</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getLotHistory"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /lot/history/get_lot_history/</code></pre></div>
    <div class="method-summary">get_lot_history <GET> (<span class="nickname">getLotHistory</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getLots"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /lot/get_lots/{allotment_id}</code></pre></div>
    <div class="method-summary">get_lots <GET> (<span class="nickname">getLots</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">allotment_id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  format: int32</div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getUser"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /user/get_user/{user_id}</code></pre></div>
    <div class="method-summary">get_user <GET> (<span class="nickname">getUser</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">user_id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  format: int32</div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getUsers"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /user/get_users</code></pre></div>
    <div class="method-summary">get_users <GET> (<span class="nickname">getUsers</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="historyDelete"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="delete"><code class="huge"><span class="http-method">delete</span> /lot/history/delete/</code></pre></div>
    <div class="method-summary">history_delete <DELETE> (<span class="nickname">historyDelete</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="historyRegister"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /lot/history/register</code></pre></div>
    <div class="method-summary">history_register <POST> (<span class="nickname">historyRegister</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="historyUpdate"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="put"><code class="huge"><span class="http-method">put</span> /lot/history/update/{id}</code></pre></div>
    <div class="method-summary">history_update <PUT> (<span class="nickname">historyUpdate</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  format: int32</div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="index"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /</code></pre></div>
    <div class="method-summary">index <GET> (<span class="nickname">index</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="register"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /allotment/register</code></pre></div>
    <div class="method-summary">register <POST> (<span class="nickname">register</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="registerAdmin"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /user/register_admin</code></pre></div>
    <div class="method-summary">register_admin <POST> (<span class="nickname">registerAdmin</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="registerGuest"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /user/register_guest</code></pre></div>
    <div class="method-summary">register_guest <POST> (<span class="nickname">registerGuest</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="registerHistory"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /customer/history/register</code></pre></div>
    <div class="method-summary">register_history <POST> (<span class="nickname">registerHistory</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="registerPurchase"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /customer/purchase/register</code></pre></div>
    <div class="method-summary">register_purchase <POST> (<span class="nickname">registerPurchase</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="register_4"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /customer/register</code></pre></div>
    <div class="method-summary">register <POST> (<span class="nickname">register_4</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="register_5"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /lot/register</code></pre></div>
    <div class="method-summary">register <POST> (<span class="nickname">register_5</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="removeAccess"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="delete"><code class="huge"><span class="http-method">delete</span> /user/remove_allotment_access</code></pre></div>
    <div class="method-summary">remove_access <DELETE> (<span class="nickname">removeAccess</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="root"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /user/</code></pre></div>
    <div class="method-summary">root <GET> (<span class="nickname">root</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="sendEmail"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /user/send_email</code></pre></div>
    <div class="method-summary">send_email <POST> (<span class="nickname">sendEmail</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="update"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="put"><code class="huge"><span class="http-method">put</span> /allotment/update/{id}</code></pre></div>
    <div class="method-summary">update <PUT> (<span class="nickname">update</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="updateHistory"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="put"><code class="huge"><span class="http-method">put</span> /customer/history/update/{id}</code></pre></div>
    <div class="method-summary">update_history <PUT> (<span class="nickname">updateHistory</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  format: int32</div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="updatePassword"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="put"><code class="huge"><span class="http-method">put</span> /user/update_password</code></pre></div>
    <div class="method-summary">update_password <PUT> (<span class="nickname">updatePassword</span>)</div>
    <div class="method-notes"></div>








    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="update_6"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="put"><code class="huge"><span class="http-method">put</span> /customer/update/{id}</code></pre></div>
    <div class="method-summary">update <PUT> (<span class="nickname">update_6</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  format: int32</div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="update_7"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="put"><code class="huge"><span class="http-method">put</span> /lot/update/{number}</code></pre></div>
    <div class="method-summary">update <PUT> (<span class="nickname">update_7</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">number (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="update_8"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="put"><code class="huge"><span class="http-method">put</span> /user/update/{id}</code></pre></div>
    <div class="method-summary">update <PUT> (<span class="nickname">update_8</span>)</div>
    <div class="method-notes"></div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>    </div>  <!-- field-items -->







    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
  </div> <!-- method -->
  <hr/>

  <h2><a name="__Models">Models</a></h2>
  [ Jump to <a href="#__Methods">Methods</a> ]

  <h3>Table of Contents</h3>
  <ol>
  </ol>

  </body>
</html>
